:focus {
	outline: none;
}
.row {
	margin-right: 0;
	margin-left: 0;
}

/* BODY 

*/
body {
	font-family: $fortescue;
	/*font-family:"Fortescue Regular", 'Times New Roman', Times, serif; font-weight:normal; font-style:normal;
	font-family:"DIN 1451 Engschrift Standard", Calibri, Helvetica, Arial, sans-serif, serif; font-size-adjust:0.479; font-weight:normal; font-style:normal;*/
	font-size: 1.65rem;
	letter-spacing: 0.015rem;
	@include antialias;
	&.open_nav{
		overflow: hidden;
	}
	@include at-query($max,$inbetween){
		overflow-x: hidden;
	}
}

	.pagination {
		li{
			margin-right: 1rem;
		}
		li:before {
			content: "" !important;
		}
	}

.side-body {
	background: #fff;
	@include at-query($max,$inbetween){
		margin-left: 0;
	}
}

.container-fluid {
	margin-left: 300px;
	position: relative;
	z-index: 4;
	padding-right: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-variant-ligatures: common-ligatures;
	-moz-font-feature-settings: "liga", "clig";
	-ms-font-feature-settings: "liga", "clig";
	-webkit-font-feature-settings: "liga", "clig";
	font-feature-settings: "liga", "clig";

	@include at-query($max,$inbetween){
		margin-left: 0;
	}

	.main-container{
		margin: 0;
		min-height: 550px;
	}
	#node_top_visual {
		// position: absolute;
		// top: 0;
		// width: 100%;
		// height: 219px;
		// position: absolute;
		/* top: 0; */
		// border: 5px solid #333;
		// width: 80%;
		width: 100%;
		height: 100%;

		// padding: 3em;
		/* margin: 0 auto !important; */
		// margin-left: 8% !important;
		// margin-top: 5em;
	}
	a {
		color: $sky-blue;
		outline: 0;
		&:hover, &:active, &:focus{
			outline: 0;
		}
		
	}
	a:hover {
		text-decoration: none;
		background: $offwhite-blue;
	}
	.page-tag a{
		color: $white;
		font-family: $sans;
		text-transform: capitalize;
		font-weight: normal;
	}
	h1.headline {

		font-size: 4.5rem;
		margin: 0;
		margin-bottom: 1.75rem;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: -0.05rem;
		font-family: $din;
		max-width: 700px;

		// @include at-query($max,1050px){
		// 	padding-left: 40px;
		// }
		@include at-query($max,$inbetween){
			width: 90%;
			margin: 0 auto;
			padding-bottom: 2rem;	
		}


		//OLD STUFF
		/*max-width: 700px;
		margin: 0 auto;
		margin-top: 3rem;
		padding: 3rem 0 40px;
		font-size: 6.1rem;
		position: relative;
		z-index: 2;

		max-width: 700px;
		margin: 0 auto;
		margin-top: 3rem;
		padding: 3rem 0 40px;
		font-size: 5rem;
		position: relative;
		z-index: 2;
		//font-family: $sans;
		font-family:"DIN 1451 Engschrift Standard", Calibri, Helvetica, Arial, sans-serif, serif;
		//font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.5rem;

		@include at-query($max,1050px){
			padding-left: 40px;
		}
		@include at-query($max,$inbetween){
			padding: 80px 10px 30px;
			width: 90%;
			margin: 0 auto;
			font-size: 4rem;
		}
		>span{
			background-color: $white;
			padding:0.25rem 1.5rem;
		}*/
	}
	#content {
		padding: 80px 0px;
		h1, h2, h3, h4, h5, h6, p, ul {
			max-width: 700px;
			margin: 15px auto;
		}
		h1 {
			line-height: 1.4;
			margin: 10px auto;
		}
		h2 {
			font-size: 2.6rem;
			line-height: 1.4;
			font-family: $sans;
			text-transform: uppercase;
			/* background-color: #333; */
			/* display: inline-block; */
			/* margin-left: 10rem; */
			/* padding: 0.7rem 1.3rem 0.4rem 1.3rem; */
			/* margin: 1rem 1rem 1rem 10rem; */
			color: #333;
			text-align: center;
			font-weight: 600;
			margin-top: 4rem;
		}
		h2:before {
			content: "";
			display: block;
			margin: 0.8em auto 0.6em auto;
			width: 4em;
			border-top: 1px solid #333;
		}
		h2:after {
			content: "";
			display: block;
			margin: 0.6em auto 0.8em auto;
			width: 4em;
			border-bottom: 1px solid #333;
		}
		h3 {
			font-weight: 100;
			margin: 3.5rem auto 0.5rem;
			letter-spacing: 0.2rem;
			font-size: 3.4rem;
		}
		h4 {
			font-size: 1.3rem;
			font-weight: 400;
			margin: 0 auto;
			letter-spacing: 0.2rem;
			font-family: $sans;
			color: $sky-blue;
			text-transform: uppercase;
			font-weight: 600;
		}
		h6 {
			//font-size: 1.4rem;
		}
		ol {
			width: 70%;
			margin: 0 auto;
			font-size: 1.1rem;
			max-width: 700px;
			/* background-color: #eee; */
			/* padding: 5em 5em 5em 5em; */
			font-family: $sans;
			padding-right: 5%;

			li {
				margin-bottom: 1rem;
			}
		}
		ul {
			font-family: $sans;
			list-style: none;
			font-size: 1.4rem;
			width:65%;
			li {
				margin-bottom: 1.5rem;
			}
			li:before {
				content: "• ";
				font-family: verdana, sans-serif;
				border-radius: 100%;
				color: #09f;
				font-weight: 700;
				font-size: 1.15rem;
				margin-left: -1.3rem;
			}
			@include at-query($max,$inbetween) {
				width: 85%;
			}

		}
		p {
			font-size: 1.8rem;
			line-height: 1.56;
			font-variant-numeric: oldstyle-nums;
			-moz-font-feature-settings: "onum";
			-ms-font-feature-settings: "onum";
			-webkit-font-feature-settings: "onum";
			font-feature-settings: "onum";
			text-rendering: optimizeLegibility;
			letter-spacing: 0.045rem;
			strong {
				font-weight: 800;
				letter-spacing: 1px;
			}
		}
		hr {
			background: #f3f3f3;
			height: 1px;
		}
		blockquote {
			/*max-width: 700px;
			margin: 30px auto;
			padding: 0 20px;
			*/
			/*p {
				font-size: 24px;
			}*/
			    /* padding: 10px 20px; */
			margin: 0 auto;
			/* font-size: 17.5px; */
			width: 80%;
			/* border-left: 5px solid #eee; */
			font-size: 4.4rem;
			margin: 0 auto;
			/* background-color: #333; */
			//border-top: solid 4px #333;
			padding-top: 2.5rem;
			text-align: center;
			//border-bottom: 2px solid #333;
			padding-bottom: 2.7rem;
		}
		.like-page, .page-tags{
			max-width: 700px;
			margin: 0 auto;
			strong {
				display: none;
			}
		}
		.page-tags{
			display: none !important;
		}
		iframe {
			margin: 3rem auto;
		}
		.sharetable{
			iframe{
				margin: 0;
			}
			.twitter-cell{
				margin-right: 1.8rem;
			}
			@include at-query($max,$inbetween) {
				display: none;
			}
		}
		@include at-query($max,1200px){
			margin-top: 0px;
		}
		@include at-query($max,1050px){
			padding-top: 20px;
			margin-top: 10px;
			#intro {
				p, h1, h2, h3, h4, h5, h6 {
					padding-left: 40px;
					padding-right: 40px;			
				}
			}
		}
		@include at-query($max,$inbetween){
			margin: 0 auto;
			p, h1, h2, h3, h4, h5, h6 {
				width: 90%;
				padding-left: 10px;
				padding-right: 10px;
			}
			#intro {
				p, h1, h2, h3, h4, h5, h6 {
					width: 90%;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			h1, #intro h1 {
				font-size: 2.5rem;
			}
		}
	}	


}

.header_area{

	width: 80%;
	padding: 2.25rem 3.2rem 3.2rem;
    margin: 3.4rem auto 0;
    border: 3px solid #333;
    font-family: $sans;

    max-width: 700px;

	/*width: 80%;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    padding-bottom: 3rem;*/

	@include at-query($max,$inbetween){
		width: 95%;
		padding: 1rem;
		margin: 8rem auto 0;
	}


    .border{
    	position: absolute;
		border:3px solid $black;
		width: 120%;
		left: -10%;
		height: 100%;

    }
    .text-content {
    	h1 {
			font-size: 2.3rem;
			font-weight: 600;
			margin: 0;
			padding: 0;
			letter-spacing: 0.11rem;
			line-height: 3rem;

			@include at-query($max,$inbetween) {
				font-size: 1.8rem;
				line-height: 1.4;
			}
    	}
    	h5 {
    		margin: 0;
    		padding: 0;
    		margin-bottom: 1.75rem;
			@include at-query($max,$inbetween) {
				margin-bottom: 1.25rem;
			}

    	}
    }
}

.share-container{
	form{
		width: 95%;
	}
}


/* FOOTER

*/
footer {
	#edit-this-page {
		position: relative;
		z-index: 99;
		padding: 10px;
		padding-bottom: 0;
		a {
			text-align: right;
			font-family: $sans;
			color: #000;
			&:hover {
				background: none;
				opacity: 0.7;
			}
		}
	}
	margin: 0;
	padding: 0 0 10px 0;
	background: $golden;
	#quote_footer {
		padding: 80px 120px;
		h3 {
			margin-bottom: 0;
			text-align: right;
		}
		@include at-query($max,$inbetween){
			padding: 40px;
			h2 {
				font-size: 2rem;
				line-height: 1.4;
			}
			h3 {
				font-size: 1.5rem;
				text-align: left;
				margin-bottom: 30px;
			}
		}
	}
	#nb_footer{
		margin: -25px 0 5px;
		font-size: 12px;
		opacity: 0.5;
		a {
			color: black; 
		}
	}
	.footer-right.text-right {
		@include at-query($max,$inbetween){ 
			text-align: left;	
			padding-left: 24px;
		}
	}
}

/* Email Sign-Up Thanks Panel

*/
/* .flash-share {
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	margin-left: 280px;
	.panel-body {
		padding: 50px 60px 35px;
		background: rgb(250,250,250); 
		.form {
			.row {
				padding-left: 0px;
				.col-md-12 {
					padding-left: 0;
					.form-group {
						max-width: 800px;
						margin: 10px 0;
					}
					.col-md-6 {
						.text-right {
							clear: both;
						}
					}
				}
				.col-md-6 {
					padding: 0;
					.row {
						.col-md-12 {
							padding-left: 5px;
						}
					}
				}
			}
		}
	}
} */



.donor_page_style{
	li{
		list-style: none;
		&:before{
			content: none;
			display: none;
		}
	}
	ul {
		padding-left: 0;
		li {
			font-weight: 400;
			display: inline-block;
			margin: 1.4%;
			vertical-align: top;

			img{
				display: inline-block;
				width: 50px;
				max-width: inherit;
				margin: 0;
				padding: 0;
				@include vendorize(border-radius, 100%);
			}
			@include at-query($max,$inbetween) {
				display: block;
				width: 100%;
				padding-left: 0;
				padding-bottom: 1rem;
			}
		}
	}
}