

@include keyframes(fade_in) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.side-menu {
	position: fixed;
	width: 315px;
	// width: 100%;
	height: 100%;
	border-right: 1px solid $border-grey;
	// font-family: 'Whitney',sans-serif;
	// font-family: "Whitney SSm A", "Whitney SSm B";
	font-family: $sans;
	font-size: 1.5rem;
	font-weight: 400;
	overflow: scroll;
	overflow-x: hidden;
	color: $black;
	z-index: 3;
	background: rgb(250,250,251);
	> nav{
		position: relative;
		overflow: hidden;
		min-height: 100%;
		// padding-bottom: 90px;
	}


	&.open, &.closed{
		#nav-pulldown{
			@include animation('fade_in 1s');
		}
	}
	&:hover {
		z-index: 9;
		// bellow is for the active state when so that you can hover over others and it will unselect the section
		.side-menu-container ul li.active>a{
			color: inherit;
			&:hover{
				color: $red;
			}
		}
	}
	@include at-query($max,$inbetween){
		z-index: 10;
	}
	#most_recent_tweet {
		.tweet {
			padding: 30px 30px 0 30px;
			color: #353535; 
			a {	
				color: #333;
				&:hover {
					text-decoration: none;
					border-bottom: 0;
					background: none;
					color: #000;
				}
			}
		}
		padding-bottom: 25px;	
		.tweet_actions {
			padding: 0 30px;
			a {
				margin-right: 8px;
				font-size: 1.3rem;
				color: #333;
				text-decoration: none;
				&:hover {
					color: #000;
				}
			}
		}
	}
}

.navbar{
	border: none;
	margin-bottom: 0;
}
.nav{
	padding: 0;
}
.side-menu-shadow{
	position: absolute;
	top: 0;
	right: 0;
	height: 120%;
	margin: -10% -30px 0 0;
    width: 60px;
    overflow: hidden;
	> div{
		height: 100%;
		width: 100%;
		margin-left: -50%;
		@include vendorize(box-shadow,inset 0px 0px 30px 0px rgba(0,0,0,0.2));
	}
}


.brand-wrapper{
	background-color: #fff;
	>div {
		p{
			border-bottom: 1px solid $border-grey;	
			margin: 0;
			width: 100%;
			padding: 2.5rem 0 2.5rem 10%;
			span {
				display: block;
				width:85%;
			}
		}
		img{
			padding: 0;
			max-width: 90%;
		}
		svg {
			padding: 0;
			max-width: 70%;
		}
		a{
			display: block;
			padding: 2rem 0 1rem 3.25rem;
			border-bottom: 1px solid $border-grey;
			float: none;
		}
	}
	p {
		background: rgb(250,250,251);
	}
}
.side-menu .side-menu-container{
	ul {
		li{
			width: 100%;
			display: block;
			border-radius: 0;
			margin: 0;
			padding: 0;
			&.active>a{
				color: $red;
			}
			.double-link{
				width: 100%;
				a{
					width: auto;
					display: inline-block;
					&:last-child{
						padding: 0.2rem;
						padding-right: 5rem;
						&:hover .arrow_svg svg{
							stroke:$red;
						}
					}
					&.title_link_embed{
						padding: 1rem 0px 1rem 10%;
						@include at-query($max,$inbetween){
							padding: 0;
						}
						width: 100%;
					}
				}
				.arrow_svg{
					display: inline-block;
					svg{
						@include vendorize(transform, rotate(-90deg));

						max-height: 1rem;
						max-width: 1rem;
						margin-bottom: 0px;
						stroke:$black;
						fill:none;
						stroke-width:5px;
						// fill: $black;
					}

				}
				.collapsed .arrow_svg{
					position: relative;
					svg{
						@include vendorize(transform, rotate(180deg));
					}
				}
			}
			a { 
				color: $black;
				// font-weight: bold;
				text-decoration: none;
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				&:focus{
					background-color: transparent;
				}
				&:hover{
					background-color: transparent;
				}
				&.scrowled_on_to_section{
					color: $red;
				}
			}
			.panel-collapse {
				padding-bottom: 0.5rem;
				ul li a {
			
				}
				.sub-nav li {
					padding-left: 15px;
				}
			}
			div[id|="dropdown"] {
				margin-top: -10px;
			}
		} 
		/* li.active {
			> a {
				padding-bottom: 0;
			}
		} 
		li a[aria-expanded="true"] {
			padding-bottom: 0;
		} */
		.panel-body{
			padding: 0;
		}
		ul {
			width: 100%;
			padding: 0;
			li a{
				font-weight: normal;
			}
		}
	}
}


#nav-pulldown{
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: visible;
	button{
		width: 100%;
		background-color: transparent;
		border: none;
		background-color: $sky-blue;
		min-height: 5rem;
	}
}

#nav-email-signup{
	form{
		padding: 1rem 0 1rem 10%;
	}
	#signup_email,.submit-button{
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		background-color: transparent;
		border: none;
		@include vendorize(box-shadow,none);
	}
	#signup_email{
		width: 60%;
		display: inline-block;
		border-radius: 0;
		padding: 0;
		border-bottom: 1px solid $border-grey;
	}
	.submit-button{
		border-radius: 100%;
		padding: 0;
		margin: 0;
		width: 3.5rem;
		height: 3.4rem;
		border: 1px solid $border-grey;
		/*background: url("data:image/svg+xml;base64,[PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1
sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOmE9Imh0dHA6Ly
9ucy5hZG9iZS5jb20vQWRvYmVTVkdWaWV3ZXJFeHRlbnNpb25zLzMuMC8iIHg9IjBweCIgeT0iM
HB4IiB3aWR0aD0iMjhweCIgaGVpZ2h0PSI0N3B4IiB2aWV3Qm94PSIwIDAgMjggNDciIHN0eWxl
PSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI4IDQ3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI
+PGRlZnM+PC9kZWZzPjxwb2x5bGluZSBwb2ludHM9IjI4LDQ3IDAsMjMuNSAyOCwwICI+PC9wb2
x5bGluZT48L3N2Zz4=]");*/
		&:hover{
			background-color: $sky-blue;
			color: $white;
			border-color: $sky-blue;
		}
	}
	p{
		font-size: 1rem;
	}

}
@media screen and (min-height: 800px) {
	.side-menu:hover {
		z-index: 3;
	}
}
@include at-query($min,$inbetween){

	.side-menu .side-menu-container{
		ul {
			li{
				border-bottom: 1px solid $border-grey;
				a{
					padding: 1rem 0px 1rem 10%;
					background-color: transparent;
					&:hover{
						color: $red;
					}
					&.collapsed{
						&:hover{
							// background-color: $sky-blue;
							// color: $white;
						}
					}
				}
				ul{
					padding: 0 0 0.5rem 0;
					a{
						padding: 0px 0px 0px 10%; 
					}
					li{
						border-bottom: none;
					}
				}
			}
		}
	}
}

@include at-query($max,$inbetween){
	.side-menu {
		width: 100%;
		border: none;
		background-color: $white; 
		min-height: 100%;
		height: 100%;
		overflow: visible;
		// padding-bottom: 70px;

		.navbar {
			// max-width: 400px;
			min-height: 100%;
			height: 100%;
			margin: 0 auto;
			border: 1px solid $border-grey;
			border-top: none;
			overflow: visible;
			// padding-bottom: 70px;
			@include vendorize(border-radius,0);
			ul {
				text-align: left;
				> li {
					padding: 15px 10%;
					border-bottom: 1px solid $border-grey;
					div {
						ul {
							li {
								border-bottom: 0;
								padding: 0 10px;
							}
						}
					}
				}
				.panel-collapse {
					padding-bottom: 0.5rem;
					ul li a {
						font-size: 1.55rem;
					}
					.sub-nav li {
						padding: 15px 0 0 0;
						margin-top: 15px;
						border-top: 1px solid $border-grey;
					}
				}
			}
			>div{
				overflow: scroll;
				max-height: 100%;
				max-height: 100%;
			}
			.brand-wrapper {
				a.navbar-brand {
					img {
						padding-left: 10%;
						margin-left: -37px;
					}
				}
			}
		}
		#most_recent_tweet {
			.tweet {
				padding: 30px 60px 0px 0;
				margin-left: 10%;
			}	
			.tweet_actions {
				padding: 10px 30px 100px 0;
				margin-left: 10%;
			}
		}
		top: -100%;
		&.open{
			top: 0%;
			#nav-pulldown {
				top: inherit;
				bottom: 0;
				button{
					@extend .dropup;
				}
			}			
		}
	}
	.side-menu-shadow{
		display: none;
		margin: -10% 0 0 0;
	    width: 100%;
		> div{
			margin-left: 0%;
		}
	}
	#nav-pulldown{
		display: block;
		top: 100%;
	}
}

#nav-social-icons {
	border-top: 1px solid $border-grey;
	border-bottom: 1px solid $border-grey;
	a {
		color: #000;
		text-decoration: none;
		display: inline-block;
		overflow: hidden;
	}
	a:first-child {
		padding-left: 10%;
	}
	a:hover {
		border-bottom: 0;
		color: $sky-blue;
			svg path {
			fill: $sky-blue;
		}
	}
	svg {
		width: 30px;
		position: relative;
		top: 20px;
		// fill: $sky-blue;
		fill: $black;
	}
	
}

// .navbar-default .navbar-nav>.active>a

.dropdown{
	.downarrow{
		font-weight: bolder;
		color: #fff;
		.up{
			display: none;
			@include vendorize(transform, rotate(180deg));
		}
		.down{
			display: block;
		}
	}
}
.open{
	.dropdown{
		.downarrow{
			.up{
				display: block;
			}
			.down{
				display: none;
			}
		}
	}
}



