/* BLOG

*/
.content-pages-show-blog-post {
	.breadcrumb {
		display: none;
	}
	.headline {
		max-width: 700px;
		margin: 90px auto 0;
	}
	#content .content {
		h1 {
			border-top: 1px solid $border-grey;
			border-bottom: 1px solid $border-grey;
			padding: 70px 0px;
			max-width: 100%;
			font-size: 32px;
			margin-bottom: 50px;
			em {
				display: block;
				max-width: 700px;
				margin: 0 auto;
			}
		}
		h2 {
			margin-top: 40px;
		}
	}
	p.note {
		margin-top: -15px;
		padding-top: 15px;
	}
} 
.box {
	margin: 0 0 20px 20px;
	font-size: 1.4rem;
	a {
		color: #000;
	}
}
.panel-body > fb:like {
	display: none;
}
.content-pages-show-blog {
	#content {
		max-width: 700px;
		margin: 0 auto;
		.excerpt {
			h1 {
				font-size: 22px;
			}
			a {
				color: #000;
			}
		} 
		.byline a, .read-more a {
			color: #000;
		}
	}
	h3 a {
		color: #000;
	}
}