#index_page{
	max-width: 75%;
	margin: 0 auto;
	@include at-query($max,650px){
	 max-width: 95%;
	}
	.headline{
			border-bottom: 2px solid #ccc;
			text-align: left;
			line-height: normal;
			font-weight: 400;
			max-width: 700px;
			font-size: 5.5rem;
			z-index: 1;
			position: static;
			padding: 3rem 0 3rem 3.2rem;
			margin: 4rem auto 5rem auto;
			text-align: center;
		br{
			display: none;
		}

		@include at-query($max,1100px) {
			// font-size: 3.5rem;
			// line-height: 5.7rem;
			// max-width: 700px;
			// padding-left: 0;
		}
		@include at-query($min,970px) {
			br{
				display: block;
			}
			// padding-top: 10rem;
			// font-size: 3.3rem;
			// line-height: 5.5rem;
		}
		@include at-query($max,650px) {
		    font-size: 3rem;
			line-height: 1.1;
			margin-top: 8rem;
			margin-bottom: 5rem;
       		line-height: 1.1;
			// font-size: 3.4rem;
			// line-height: 4.3rem;
			// max-width: 700px;
			// padding-top: 10rem;
			// padding-bottom: 3.5rem;
		}
		@include at-query($max,600px) {
			// font-size: 2.4rem;	
			// line-height: 3.4rem;
		}
		@include at-query($max,450px) {
			// font-size: 1.9rem;
			// line-height: 3.3rem;
		}
	}
	a{
		color: inherit;
		position: relative;
		&:hover{
			background-color: transparent;
			// text-decoration: underline;
			color: $sky-blue;
		}
	}

	#index_featured{
		margin-bottom: 30px;
		h2:before {
			content: "";
			display: block;
			margin: 0.8em auto 0.6em auto;
			width: 1.5em;
			border-top: 2px solid #ccc;
		}
		h2 {
			font-family: $sans;
			font-size: 1.8rem;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.12rem;	
		}
		a{
			vertical-align: top;
			display: inline-block;
			width: 30%;
			margin: 0 1.66% 0 1.66%;
			text-align: center;
			position: relative;
			// vertical-align: bottom;
			text-decoration: none;
			img {
				width: 90%;
				border-radius: 100%;
				border: 4px solid #ddd;
				//border-spacing: 52em !important;
				box-sizing: content-box;
				border-collapse: separate !important;
				width: 10em !important;
			}
			@include at-query($max,$inbetween){
				width: 90%;
				margin: 0 auto 50px;
				display: block;
				img {
					width: 100%;
				}
			}
			&:hover h3{
				background-color: transparent;
				color: $sky-blue;
			
			}
		}
	}
	#index_content{
		p{
			font-size: 1.8rem;
			max-width: 700px;
			margin: 0 auto;
			line-height: 1.3;
			text-align: center;
			font-family: $sans;
			font-weight: 100;
			@include at-query($max,650px){
				font-size: 2rem;
			}
			a {
				color: $sky-blue;
				text-decoration: none;
			}
			a:hover {
				opacity: 0.7;
			}
		}
		p:first-child {
			margin-bottom: 0;
			a {
				font-style: italic;
			}
		}

	}
	#index_instagram_feed{
		max-width: 670px;
		margin: 50px auto;
		img{
			width: 100%;
			border: 1px solid $border-grey;
			border-radius: 100%;
		}
		a{
			display: inline-block;
			max-width: 120px;
			margin: 0 1% 2%;
			position: relative;
		}
		@include at-query($max,1200px) { 
			width: 383px;
			a {
				display: none;
			}
			a:first-child, a:nth-child(2), a:nth-child(3) {
				display: inline-block;
			}
		}
		@include at-query($max,650px) { 
			max-width: 100%;
			margin-bottom: 0;
			a {
				display: none;
			}
			a:first-child {
				display: block;
				max-width: 100%;
				width: 100%;
			}
			a:nth-child(2), a:nth-child(3) {
				display: none;
			}
		}
	}
}
#index_blog {
	padding: 3rem 0 3rem;
	border-top: 1px solid $border-grey;
	margin-top: 100px;
	position: relative;
	z-index: 9;
	h2:before {
			content: "";
			display: block;
			margin: 0.8em auto 0.6em auto;
			width: 4em;
			border-top: 1px solid #333;
		}
		h2:after {
			content: "";
			display: block;
			margin: 0.6em auto 0.8em auto;
			width: 4em;
			border-bottom: 1px solid #333;
		}
		h2{
			font-size: 2.6rem;
			line-height: 1.4;
			font-family: $sans;
			text-transform: uppercase;
			color: #333;
			text-align: center;
			font-weight: 600;
			margin-top: 4rem;
		}
	ul {
		li{
			padding: 0;
			margin: 0;
			list-style: none;
			max-width: 700px;
			margin: 3rem auto 0;
			h2 {
				a {
					color: #333;
					text-decoration: none;
					&:hover {
						background: none;
						color: $sky-blue;
					}
				}
				@include at-query($max,650px){
					font-size: 2rem;
				}
			}
		}
	}
	> h3 {
		font-size: 2.9rem;
		text-align: left;
		max-width: 740px;
		margin: 0 auto;
		padding-left: 40px;
		a{
			color: inherit;
			font-size: inherit;
			&:hover{
				background-color: inherit;
				color: $sky-blue;
			}
		}
	}
	h4{
		margin: 0;
	    font-size: 1.45rem;
	    text-align: right;
	}
	p {
		font-size: 2.1rem;
		max-width: 740px;
		padding-left: 40px;
		margin: 0 auto;
		@include at-query($max,800px){
				font-size: 2rem;
				padding-left: 40px;
			}
	}
	.blog_post_content{
		h1,h2,h3,h4,p,li,ul,ol,span{
			display: block;
			position: static;
			font-size: 1.45rem;
			font-weight: normal;
			font-variant: normal;
			text-align: left;
			a {
				h4 {
					color: #333;
					&:hover {
						color: $sky-blue;
					}
				}	
			}
		}
	}
	@include at-query($max,$inbetween){
		padding: 40px 40px 0 0;
	}
}
#index_interactive_background{
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0.5;
	// z-index: 5;
	// opacity: 0.5;

	rect {
		fill: none;
		pointer-events: all;
	}

	.node {
		fill: #000;
	}

	.cursor {
		fill: none;
		stroke: none;
		pointer-events: none;
		// stroke: brown;
		// pointer-events: none;
	}

	.link {
		stroke: #000;
	}
}
#signup-in-indexpage {
	max-width: 100%;
	padding: 100px 0;
	margin-top: 50px;
	border-top: 1px solid $border-grey;
	position: relative;
	z-index: 9;
	text-align: center;
	// blockquote {
	// 	margin: 0 auto;
	// 	width: 80%;
	// 	font-size: 4.4rem;
	// 	margin: 0 auto;
	// 	padding-top: 2.5rem;
	// 	text-align: center;
	// 	padding-bottom: 2.7rem;
	// }
	@include at-query($max,800px){
				padding: 40px 40px;
				text-align: left;
			}
	h2 {
		line-height: 1.4;
		@include at-query($max,650px){
				font-size: 2rem;
			}
	}
	form {
		width: 370px;
		margin: 2rem auto 8rem;
		input.text {
			float: left;
			width: 300px;
			border: 1px solid $border-grey;
			border-radius: 0;
			display: block;
			font-size: 2.6rem;
			// padding: 24px 17px;
			margin-right: 10px;
    		color: #000;
    		min-height: 48px;
    		padding: 0 17px;
			&:focus {
			    color: #000;
			}
			@include at-query($max,650px){
				font-size: 1.4rem;
				width: 200px;
				margin-left: 0;
				float: left;
			}
		}
		input.submit-button {
			border-radius: 100%;
			width: 48px;
			height: 48px;
			background: #fff;
			border: 1px solid #cccccc;
			margin: 0;
			font-size: 2.6rem;
			float: left;
			@include at-query($max,650px){
				font-size: 1.4rem;
			}
			&:hover {
				background: $sky-blue;
				color: #fff;
			}
		}
	}
}

#index_page,#index_blog,#index_interactive_background, #signup,#signup-in-indexpage {
	blockquote {
		margin: 0 auto;
		width: 80%;
		font-size: 4.4rem;
		margin: 0 auto;
		padding-top: 2.5rem;
		text-align: center;
		padding-bottom: 2.7rem;
		@include at-query($max,650px) {
			font-size: 3rem;
			width: 95%;
			line-height: 1.3;
		}
	}

}

#signup-in-indexpage h2, #index_content h2{
	font-family: $sans;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1.3;
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}