/* Thanks Sign-Up (When someone joins the mailing list)

*/


#flash_container {
	position: fixed;
	display: block;
	z-index: 5;
	width: 100%;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	#flash {
		.flash-share {
			margin-bottom: 0;
			border-radius: 0;
			background: rgb(245,245,247);
			.panel-body {
				padding: 65px;
				font-family: 'Whitney';
			}
			.form {
				.form-group {
					margin: 10px 0;
					max-width: 800px;
					width: 60%;
				}
				.row {
					.col-md-12 {
						padding-left: 0;
					}
					.col-md-6 {
						padding-left: 0;
					}
					.post-or-no-thanks {
						clear: both;
						margin: 10px 0;
						div {
							display: inline-block;
							float: left;
							margin-right: 15px;
						}
						div:last-child {
							padding-top: 5px;
						}
					}
				}
			}
		}
	}
}
