.content-pages-show-faq-wide {
	.sidebar {
		padding-top: 50px;
		padding-bottom: 50px;
		// border-top: 1px solid $border-grey;
		border-bottom: 1px solid $border-grey;
		margin-bottom: 50px;
		@include at-query($max,1050px) {
			.btn-group-vertical {
				width: 90%;
				margin: 0 auto;
				padding-left: 0;
			}
		}
	}
	#content {
		@include at-query($max,1050px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.illustration {
		background: $golden;
		margin-top: 40px;
		margin-bottom: 40px;
		background-image: url('http://data.new-harvest.org/loader-yellow.gif');
		text-align: center;
		background-repeat: no-repeat;
		background-position: center;
		img {
			padding-top: 10px;
			padding-bottom: 10px;
			max-width: 700px;
			// width: 100%;
			height: auto;
			max-height: 400px;
			display: inline-block;
		}
		img[alt="Acellular products"]{
			padding-bottom: 0;
			margin-bottom: 0;
		}
		img[alt="cellular products"]{
			padding-top: 0;
			margin-top: 0;
		}

		&.blue{
			background: $off-blue;
			background-image: url('http://data.new-harvest.org/loader-blue.gif');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

#faqs-subnav {
	max-width: 700px;
	margin: 0 auto;
	.btn {
		border-bottom: 1px solid #ccc;
		border-top: none;
		border-left: none;
		border-right: none;
		color: #333;
		text-align: left;
		font-size: 1.7rem;
		font-family: $sans;
		margin: 0.4rem 0 0.7rem 0;
		padding: 0.2rem 0 0.6rem;
	}
	.btn:hover {
		background-color: transparent;
		//opacity: 0.5;
		color: $sky-blue; 
	}
}
.faq {
	h2 {
		margin-top: 30px;
		padding-top: 30px;

	}
	.excerpt {
		margin: 10px auto 25px;
	}
}