#content {
	#intro {
		#whatwedo_special {
			max-width: 750px;
			margin: 3rem auto 0;
			padding: 4rem 4rem 1.75rem;
			background: #F5F5F5;
			box-shadow: -5px 5px 10px rgba(0,0,0,0.15);
			p, h2 {
				// font-family: 'Whitney';
				// font-family: "Whitney SSm A", "Whitney SSm B";
				font-family: $sans;
				font-weight: 400;
			}
			p {
				margin: 0 0 2.5rem;
			}
			h2 {
				margin: 0;
			}
		}
		#people {
			p, h3 {
				position: relative;
				z-index: 3;
			}
			img {
				// position: absolute;
				// z-index: 1;
				margin-bottom: -4rem;
				box-shadow: -3px 3px 8px rgba(0,0,0,0.3);
			}
		}
		.illustration {
			background: $golden;
			margin-top: 40px;
			margin-bottom: 40px;
			background-image: url('http://data.new-harvest.org/loader-yellow.gif');
			img {
				padding-top: 10px;
				padding-bottom: 10px;
				max-width: 700px;
				width: 100%;
				height: auto;
			}
			&.blue{
				background: $off-blue;
				background-image: url('http://data.new-harvest.org/loader-blue.gif');
			}
		}
	}
	#people #donors_data{
		li{
			list-style: none;
		}
		ul {
			padding-left: 0;
			li {
				font-weight: 400;
				display: inline-block;
				// width: 200px;
				// margin: 10px 10px 10px 0;
				width: 30%;
				margin-top: 1.5%;
				margin-bottom: 1.5%;
				vertical-align: top;

				img,div{
					display: inline-block;
					margin: 0;
					width: 72.5%;
					margin-left: 2.5%;
				}
				img {
					vertical-align: top;
					// margin-right: 5px;
					max-width: 25%;
					margin: 0;
				}
			}
		}
		@include at-query($max,$large){ 
			padding-left: 40px;
		}
		@include at-query($max,$inbetween){ 
			max-width: 90%;
			margin: 0 auto;
			padding-left: 40px;
		}	
	}	
}
@include at-query($max,$inbetween){
	#content {
		#intro {
			#the_status_quo {
				img {
					max-width: 100%;
					width: 100%;
				}
			}
		}
	}
}







