#content {
	#intro {
		#whatwedo_special {
			max-width: 750px;
			margin: 3rem auto 0;
			padding: 4rem 4rem 1.75rem;
			background: #F5F5F5;
			box-shadow: -5px 5px 10px rgba(0,0,0,0.15);
			p, h2 {
				// font-family: 'Whitney';
				// font-family: "Whitney SSm A", "Whitney SSm B";
				font-family: $sans;
				font-weight: 400;
			}
			p {
				margin: 0 0 2.5rem;
			}
			h2 {
				margin: 0;
			}
			@include at-query($max,$inbetween) {
				padding: 3rem 2rem 1.75rem;
			}
		}
		#people {
			p, h3 {
				position: relative;
				z-index: 3;
			}
			img {
				// position: absolute;
				// z-index: 1;
				margin-bottom: -4rem;
				box-shadow: -3px 3px 8px rgba(0,0,0,0.3);
			}
		}
		.illustration {
			background: $golden;
			margin-top: 40px;
			margin-bottom: 40px;
			background-image: url('http://data.new-harvest.org/loader-yellow.gif');
			text-align: center;
			background-repeat: no-repeat;
			background-position: center;
			img {
				padding-top: 10px;
				padding-bottom: 10px;
				max-width: 700px;
				// width: 100%;
				height: auto;
				max-height: 400px;
				display: inline-block !important;
				@include at-query($max,$inbetween) {
					max-height: none;
					max-width: 90%;
				}
			}
			img[alt="Acellular products"]{
				padding-bottom: 0;
				margin-bottom: 0;
			}
			img[alt="cellular products"]{
				padding-top: 0;
				margin-top: 0;
			}
			&.blue{
				background: $off-blue;
				background-image: url('http://data.new-harvest.org/loader-blue.gif');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	#people #donors_data{
		li{
			list-style: none;
			&:before{
				content: none;
				display: none;
			}
		}
		ul {
			padding-left: 0;
			li {
				font-weight: 400;
				display: inline-block;
				// width: 200px;
				// margin: 10px 10px 10px 0;
				// width: 30%;
				margin: 1.4%;
				vertical-align: top;

				img{
					display: inline-block;
					width: 50px;
					max-width: inherit;
					margin: 0;
					padding: 0;
					@include vendorize(border-radius, 100%);
				}
				@include at-query($max,$inbetween) {
					display: block;
					width: 100%;
					padding-left: 0;
					padding-bottom: 1rem;
				}
			}
		}
		@include at-query($max,$large){ 
			// padding-left: 40px;
		}
		@include at-query($max,$inbetween){ 
			max-width: 90%;
			margin: 0 auto;
			// padding-left: 40px;
		}	
	}	
}
@include at-query($max,$inbetween){
	#content {
		#intro {
			#the_status_quo {
				img {
					max-width: 100%;
					width: 100%;
				}
			}
		}
	}
}







