#content {
	#intro {
		p.note {
			margin-top: -15px;
			padding-top: 15px;
			font-size: 1.5rem;
			text-indent: -25px;
			padding-left: 25px;
			@include at-query($max,$inbetween){
				padding-left: 65px;
			}
			a {
				color: #333;
				border-bottom: 1px dotted #333;
			}
			a:hover {
				opacity: 0.7;
				background: none;
			}
		}
	}
}
