/* Donate Corner Button

*/
#donateBG {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 0;
	height: 0;
	border-top: 100px solid $golden;
	border-left: 100px solid transparent;
	z-index: 11;
	@include at-query($max,$inbetween){ 
		border-top: none;
		border-left: none;
		border-bottom: 100px solid $golden;
		border-left: 100px solid transparent;
		bottom: 0px;
		top: auto;
	}
}

#donateBtnLabel {
	position: fixed;
	top: 21px;
	right: 5px;
	color: black;
	// font-family: 'Whitney', sans-serif;
	// font-family: "Whitney SSm A", "Whitney SSm B";
	font-family: $sans;
	font-weight: 500;
	font-size: 2.1rem;
	text-decoration: none;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    z-index: 12;
    @include at-query($max,$inbetween){ 
    	top: auto;
    	bottom: 21px;
    	-ms-transform: rotate(-45deg); /* IE 9 */
	    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	    transform: rotate(-45deg);
    }
}

/* Donate Page

*/
#donate {
	position: fixed;
	top: 21px;
	right: 5px;
	color: black;
	// font-family: 'Whitney', sans-serif;
	// font-family: "Whitney SSm A", "Whitney SSm B";
	font-family: $sans;
	font-weight: 500;
	font-size: 2.1rem;
	text-decoration: none;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    z-index: 12;
    @include at-query($max,$inbetween){ 
    	top: auto;
    	bottom: 21px;
    }
}

#content {
	.progress-stages .donate-freq-button{
		display: inline-block;
		padding: 0.5rem 1rem;
		border: solid 1px $grey	;
		font-family: $sans;
		color: $grey;
		font-weight: bolder;
		&:hover,&.current-button{
			background-color: $sky-blue;
			border-color: $sky-blue;
			color: $white;
		}
		&.current-button:first-child{
			border-right: none;
		}
		&:first-child{
			margin: 0 0 0.5rem 1rem;
		}
		&.current-button:last-child{
			border-left: none;
		}

	}
	.staged-donation-container {
		margin: 50px 0 50px 7%;
		@include at-query($max,1200px){
			margin: 10px auto;
			width: 60%;
		}
		@include at-query($max,1000px){
			margin: 100px auto;
			width: 80%;
		}
		.form-progress-indicator ul {
			display: none;
		}
		.staged-donation-form {
			max-width: 400px;
			margin-right: 25px;
			@include at-query($max,1200px){
				max-width: 100%; 
				margin-right: 0;
			}
			.progress-stages {
				input{
				    font-family: $sans;//"Whitney SSm A","Whitney SSm B",sans-serif;
				}
				select{
					font-family: $sans;
					color: inherit;
					font-size: inherit;
					border-radius: 0;
					background-color: $white;	
				}
				max-width: 400px;
				float: left;
				padding-bottom: 130px;
				@include at-query($max,1200px){
					max-width: 100%; 
					width: 100%;
					padding-bottom: 50px;
				}
				.radio-inline {
					max-width: 400px;
					margin-top: 6px;
					span {
						float: left;
							label {
							font-weight: 400;
							font-size: 1.8rem;
							margin-right: 40px;
						}
					}
					label[for="donation_amount_other"] {
						display: block;
						font-weight: 400;
						float: left;
						margin: 17px 35px 10px -20px;
						clear: both;
						font-size: 1.8rem;
					}
					#donation_amount_other{
						border-radius: 0;
						padding: 10px 7px 6px 10px;
						float: left;
						font-size: 1.8rem;
					}
				}
				.row-fluid {
					display: block;
					clear: both;
					max-width: 400px;
					@include at-query($max,1200px){
						width: 100%; 
						max-width: none;
					}
					.span6, .span4 {
						margin: 8px 0;
						display: inline-block;
						width: 47%;
						@include at-query($max,1200px){
							width: 100%;
							display: block;
							select {
								width: 100%;
							}
						}
						select {
							max-width: 100%;
						}
						input {
							padding: 7px 7px 5px 10px;
							margin-right: 8px;
							width: 100%;
							@include at-query($max,1200px){
								width: 100%; 
							}
						}
					}
					.span12 {
						margin: 8px 0;
						width: 100%;
						input {
							width: 47%;
							display: inline-block;
							padding: 7px 7px 5px 10px;
						}
						input[type="checkbox"] {
							width: 16px;
						}
						select {
							width: 100%;
							display: block;
							clear: both;
						}
						@include at-query($max,1200px){
							width: 100%;
							input:first-child {
								margin-bottom: 9px;
							} 
						}
					}
				}
				.progress-stage-button-next, .progress-stage-button-prev {
					display: none;
				}
				.checkbox {
					font-weight: 400;
					padding-left: 20px;
				}
				.stage-3 {
					label[for="donation_is_private"] {
						margin-top: -25px;
					}
					input.success-button {
						padding: 10px 15px 9px;
						width: 180px;
					}
				}
			}
		}
		.staged-donation-content {
			width: 45%;
			margin-left: 50px;
			display: inline-block;
			@include at-query($max,1200px){
				width: 100%;
				margin: 0 0;
				h2.headline {
					padding: 0;
					margin-left: 0;
				}
			}
			h2.headline {
				padding: 0;
				margin-top: 0;
			}
			#slider-cards {
				margin-top: 8px;
			}
			@include at-query($max,$inbetween){
				#intro {
					p {
						padding-left: 0;
						padding-right: 0;
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
	}
}