.btn-primary {
	background-color: $sky-blue;
	border-color: $sky-blue;
	&:hover {
		background-color: $sky-blue;
	}
}
a.btn-default.small-btn {
	// font-family: 'Whitney';
	// font-family: "Whitney SSm A", "Whitney SSm B";
	font-family: $sans;
	&:hover {
		background: $sky-blue;
		color: white;
		opacity: 1;
		border: 1px solid $sky-blue;
	}
}
a.share-close.close {
	opacity: 0.5;
	&:hover {
		background: none;
	}
}