.page-type-event{
	#donateBG,#donateBtnLabel{
		display: none;
	}
	.side-body{
		min-height: 100vh;
		background-color: $sky-blue;
	}
	.main{
		background-color: $white;
	}
	.column {
		max-width: 700px;
		margin: 10rem auto;
	}
	.main-container{
		overflow: hidden;
	}
	footer{
		display: none;
	}
	.container-fluid{
		z-index: 4;
	}

	#event_header_section{
		margin-bottom: -10rem;
	}	

	#event_header_image{
		position: relative;
		color: $white;
		padding-bottom: 400px;
		padding-bottom: 37vh;
		min-height: 310px;

		img{
			position: absolute;
			left: -40%;
			width: 190%;
			max-width: inherit;
			top: -310px;
		}
		h1,h2{
			position: relative;
		}
		h1{
			font-family: $din;
			font-size: 9rem;
			line-height: 4rem;
		}
		h2{
			font-family: $sans;
			font-size: 3.5rem;
		}
	}
	#event_header_bottom{
		position: relative;
		font-family: $sans;
		color: $black;
		padding-bottom: 3rem;
		p{
			max-width: 60%;
			font-weight: bolder;
			font-size: 1.5rem;
		}
	}
	.event_buy_now{
		position: absolute;
		top: -67.5px;
		right: 0;
		background-color: $golden;
		color: $black;
		font-weight: bold;
		border-radius: 100%;
		border: none;
		width: 135px;
		height: 135px;
		font-size: 2.5rem;
		line-height: 3rem;
		-webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.25);
	}
	.blue_background{
		background-color: $sky-blue;
		position: relative;
		font-family: $sans;
		font-weight: bolder;
		.column{
			padding-top: 10px;
			position: relative;
		}
	}
	#yellow_nonprofit_text{
		width: 50%;
		color: $golden;
		padding: 3.7rem 0;
		font-size: 1.5rem;
	}
	.half_width_large{
		display: inline-block;
		width: 100%;
		vertical-align: bottom;
		font-weight: bold;
		color: $white;
		padding-bottom: 3rem;
		font-size: 3.5rem;
	}
	.no_margin{
		margin: 0rem auto !important;
	}
	.modal_buy_ticket{
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		z-index: 999;
		display: none;
		&.open{
			display: inline-table;
		}
		.close{
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			font-size: 1rem;
			font-family: $sans;
			color: $black;
			text-transform: uppercase;
			@include vendorize(opacity, 1);
		}
		> div{
			display: table-cell;
			vertical-align: middle;
			>div{
				position: relative;
				background-color: $golden;
				display: inline-block;
				padding: 2rem;
				-webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.25);
				-moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.25);
				box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.25);
				input[type="number"]{
					display: block;
					margin: 1rem 0;
				}
			}
		}
	}
}


/*
.page-pages-show-event-wide {
	.column {
		max-width: 700px;
		margin: 10rem auto;
		#headline {
			.byline {
				display: none;
			}
		}
		#content {
			padding-top: 80px;	
			h6.subhead {
				margin-bottom: 4px;
			}
		}
	}
}
#content .event-info {
	max-width: 700px;
	margin: 100px auto;
	h2 a {
		color: #000;
		&:hover {
			background: none;
			color: $sky-blue;
		}
	}
	p {
		margin: 0 auto;
	}
	.event-venue p {
		margin: 0 auto 10px;
	}
	@include at-query($max,1050px){
		padding-left: 40px;
	}
	@include at-query($max,900px){
		padding-left: 10px;
	}
}
*/