.page-type-invoices{
	#donateBG,#donateBtnLabel{
		display: none;
	}
	#blue_title_section{
		background-color: $sky-blue;
		color: $white;
		width: 100%;
		padding: 3rem 0;
		h1{
			font-family: $din;
			font-size: 7rem;
			text-align: center;
			text-transform: uppercase;
		}
		
	}
	#content{
		max-width: 700px;
		margin: 10rem auto;
		position: relative;
		padding-top: 0;
		h4{
			text-transform: uppercase;
			font-weight: bold;
			font-family: $sans;
			padding-bottom: 2rem;
			color: $black;
			font-size: 2rem;
			margin: 0;
		}
		table th{
			font-family: $sans;
			font-size: 1.3rem;
			text-align: center;
			border-top: none;
		}
		table td{
			text-align: center;
		}
		table td,table th{
			border-color: $black;
		}
		table tr:last-child td{
			text-align: right;
		}
		.middle_column{
			min-height: 75%;
		}
		select,.form-control{
			border-radius: 0;
			border-color: $black;
		}
		.form-group {
			margin-bottom: 7px;
			label{
				font-family: $sans;
				font-size: 1rem;
				margin-bottom: 0;
			}
		}
		.form-wrap{
			width: calc(10px + 100%);
			margin-left: -5px;
		}
		.paynow{
			padding-top: 2rem;
		}
		.col-md-6, .col-md-12{
			padding-left: 5px;
			padding-right: 5px;
		}

	}
}