$width_left: 30%;
$width_right: 65%;
$width_right_margin: 5%;
// html{
// 	font-size: 10px;
// }
#conference{
	h1,h2,h3,h4,h5{
		font-family: $sans;
		font-weight: bolder;
	}
	h1{
		font-family: $din;
		text-shadow: 4px 4px 6px rgba(0,0,0,0.3);
		text-transform: uppercase;
		font-size: 12rem;
		font-weight: normal;
		margin-top: 0;
		@include at-query($max,$large) {
			font-size: 8rem;
		}
	}	
	p{
		line-height: 1.2;
		margin-bottom: 1rem;
		@include at-query($max,$inbetween) {
		    font-size: 1.3rem;
		}
	}

	.con_section{
		padding-top: 1px;
		padding-bottom: 1px;
	}
	.con_container{
		width: 90%;
		width: calc(100% - 100px);
		margin: 50px auto;
		width: calc(100% - 10rem);
		margin: 5rem auto;
		padding: 50px 0;
		padding: 5rem 0;
		@include at-query($max,$inbetween) {
			width: calc(100% - 40px);
			margin: 20px auto;
			width: calc(100% - 4rem);
			padding: 50px 0;
			padding: 5rem 0;
		}
	}
	.con_contain_max{
		max-width: 1200px;
		width: 90%;
		margin: 0 auto;
		position: relative;
	}
	.con_section_titles{
		font-family: $din;
		margin: 0;
		font-size: 8rem;
		text-transform: uppercase;
		font-weight: normal;
		@include at-query($max,$large+100px) {
			font-size: 6.5rem;
		}
		@include at-query($max,$inbetween) {
			font-size: 5rem;
		}
	}
}



#con_nav,#con_regnow{
	position: fixed;
	top: 50px;
	top: 7rem;
	@media screen and ( max-height: 600px ){
		top: 4rem;
	}
}
#con_nav{
	position: fixed;
	width: 100%;
	height: 100%;
	height: 100vh;
	z-index: 80;
	right: 100%;
	top: 0;

	#con_nav_toggle{
		left: 100%;
		position: absolute;
		z-index: 2;
		a{
			display: inline-block;
			padding: 2rem;
			// font-weight: bolder;
			font-size: 5rem;
			line-height: 1rem;
			color: $yellow;
			position: relative;
			top: 7rem;
			left: 7rem;			
			@include vendorize(transform,rotateZ(45deg));
			&:active,&:hover,&:focus{
				text-decoration: none;
			}
			@media screen and ( max-height: 600px ){
				top: 4rem;
			}
			@include at-query($max,$inbetween) {
				top: 2rem;
				left: 1rem;
			}
		}
	}
	#con_nav_list{
		background-color: $white;
		color: $yellow;
		display: none;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: scroll;
		left: 100%;
		padding: 5rem;
		@media screen and ( max-height: 600px ){
			padding: 2rem 5rem 5rem 5rem;
		}
		@include at-query($max,$inbetween) {
			padding: 2rem;
		}
		ul{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			padding: 0;
			margin: 0;
			background-color: $blue_light;
		}
		li{
			list-style: none;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		a{
			padding: 0;
			font-family: $din;
			font-size: 6rem;
			color: $white;
			text-transform: uppercase;
			display: block;
			line-height: 1.15;
			&:active,&:hover,&:focus{
				color: $yellow;
				text-decoration: none;
			}
			@include at-query($max,$inbetween) {
				font-size: 4rem;
			}
		}
	}
}
body.nav_open{
	overflow: hidden;
	#con_nav{
		#con_nav_toggle a{
			@include vendorize(transform,none);
		}
	}
	#con_nav #con_nav_list{
		display: block;
		display: table;
		@include animation('fade_in 0.25s');
	}
}

#con_regnow{
	right: 50px;
	right: 7rem;
	z-index: 50;
	@media screen and ( max-height: 600px ){
		top: 4rem;
	}
	
	#con_regnow_circle{
		border-radius: 100%;
		// background-color: $blue_green_dark;
		background-color: $yellow;
		height: 10rem;
		width: 10rem;
		padding: 0;
		text-align: center;
		border: 1px solid $yellow;
		font-family: $sans;	
		font-size: inherit;
		a{
			font-weight: bolder;
			// color: $white;
			color: $blue_green_dark;
			font-family: inherit;
			padding-top: 0.5rem;
			display: inline-block;
			&:hover{
				text-decoration: none;
			}
		}
		&:hover{
			background-color: $white;
			border-color: $blue_green_dark;
			a{
				color: $blue_green_dark;
				text-decoration: none;
			}
		}
	}
	@include at-query($max,$inbetween) {
		display: none;
	}
}



#con_intro{
	color: $white;
	text-align: center;
	.con_container{
		background-color: $blue_green_dark;
		@include at-query($max,$inbetween) {
			padding-top: 0;
		}
		@media screen and ( max-height: 600px ){
			margin-top: 2rem;
		}
	}
	svg{
		max-width: 900px;
		max-width: 70rem;
		@include at-query($max,$large) {
			margin-left: 3rem;
			max-width: 60rem;
		}
	}
	#con_intro_top_svg{
		padding-top: 1px;
		margin-bottom: -3.5rem;
	}
	#con_intro_bottom_svg{
		margin-top: -4.5rem;
		// padding-bottom: 5rem;
		@include at-query($max,$large) {
			margin-left: 0;
		}
	}
	img{
		display: none;
	}

	h2{
		margin-top: -1rem;
		font-size: 3rem;
		@include at-query($max,$large) {
			font-size: 2.4rem;
		}
	}
	h4{
		color: $yellow;
		font-size: 2.25rem;
		margin-bottom: 0;
		@include at-query($max,$large) {
			font-size: 2rem;
		}
	}
	.con_svg_nav_button:hover{
		rect{
			fill:$white;
		}
		path{
			fill:$blue_green_dark;
		}
	}
	#con_reg_now_image{
		position: absolute;
		top: 0;
		left: 0;
	}
	
	@include at-query($max,$inbetween) {
		svg,h1,h2,h4{
			display: none;
		}
		img{
			display: inline-block;
			max-height: 120vh;
		}
		.con_contain_max{
			width: auto;
			max-width: 90%;
			text-align: center;
			display: inline-block;
		}
	}
}



#con_announcment,#con_announcements{
	color: $white;
	.con_container{
		background-color: $red;
	}
	h2.con_section_titles{
		margin-bottom: 5rem;
		text-align: center;
	}
	.con_announ_articel{
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
		text-align: center;
	}
	img.con_rounded{
		@include vendorize(border-radius,100%);
	}
}
.con_announ_articel_image,.con_announ_articel_text{
	text-align: left;
	display: inline-block;
	vertical-align: top;

}
.con_announ_articel_image{
	width: $width_left;
	text-align: center;
	img{
		width: 80%;
		width: calc(100% - 4rem);
		max-width: 220px;
	    margin: 3.5rem 2rem;
	}
	@include at-query($max,$inbetween) {
		display: block;
		width: 100%;
		img{
			margin-bottom: 1rem;
		}
	}
}
.con_announ_articel_text{
	width: $width_right;
	margin-left: $width_right_margin;
	margin-bottom: 2.5rem;

	h3{
		margin: 2.5rem 0;
	}
	a{
		color: inherit;
		font-weight: bolder;
	}
	@include at-query($max,$inbetween) {
		width: 100%;
		max-width: 500px;
		text-align: center;
		margin-left: 0;
		h3{
			text-transform: uppercase;
		}
	}	
}



#con_about{
	background-color: $blue_dark;
	.con_container{
		background-color: $white;
		color: $blue_dark;
		text-align: center;
	}
	#con_about_left,#con_about_right{
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	#con_about_left,#con_about_right_2{
		text-align: left;
		width: $width_left;
		width: 20%;
		display: inline-block;
		min-width: 20rem;
		a{
			color: $blue_dark;
		}
		#con_about_twitter_header{
			font-family: $sans;
			a{
				font-weight: bolder;
			}
		}
		#con_about_twitter {
			// margin-top: 15rem;
			// border-top: 0.7rem solid;

			width: 100%;
			font-family: $sans;
			font-size: 1.3rem;
			padding-top: 2rem;
			p{
				margin-top: 2rem;
				padding-top: 2rem;
				border-top: 1px solid;
			    line-height: 1.7rem;
			}
			p:first-child{
				margin-top: 0;
			}
		}
		.tweet{
			max-width: 90%;
			@include at-query($max,$inbetween) {
				margin: 0 auto 1rem auto;
			}
		}
		.tweet_actions{
			a{
				// font-weight: bolder;
				font-weight: normal;
				display: inline-block;
				padding-right: 1rem;
				// text-transform: uppercase;
			}
		}
	}
	#con_about_left{
		@include at-query($max,$large+100px) {
			width: 100%;
			text-align: center;
			margin-bottom: 5rem;
		}
	}
	#con_about_right{
		width: $width_right;
		width: 50%;
		margin-left: $width_right_margin;
		h3 {
			padding-top: 3rem;
			font-size: 3rem;
			@include at-query($max,$inbetween) {
				padding-top: 2rem;
				font-size: 2rem;
			}
		}
		h4{
			padding-top: 6rem;
			// padding-bottom: 1rem;
			padding-bottom: 0;
			margin-top: 0;
			@include at-query($max,$inbetween) {
				padding-top: 4rem;
			}
		}
		a{
			font-family: $sans;
			color: inherit;
		}
		@include at-query($max,$large+100px) {
			margin-left: 0;
		}
		@include at-query($max,$inbetween) {
			text-align: center;
			width: 100%;
		}
	}
	#con_about_right_2{
		margin-left: 5%;
		@include at-query($max,$inbetween) {
			margin-left: 0;
			// width: 70%;
			width: 100%;
			text-align: center;
			margin-top: 5rem;
			border-top: 4px solid;
			padding-top: 2rem;
			// min-width: 400px;
			// min-width: 310px;
			max-width: 400px;
		}
	}
	h2.con_section_titles{
		text-decoration: underline;
	}
	blockquote{
		font-family: $sans;
		margin: 0;
		font-size: 3.5rem;
		width: 85%;
		max-width: 600px;
		font-weight: bolder;
		b{
			font-style: italic;
			text-decoration: underline;
		}
		@include at-query($max,$large){
			width: 100%;
		}
		@include at-query($max,$inbetween) {
			margin: 0 auto;
			font-size: 2.5rem;
			line-height: 1.3;
			width: 95%;
		}
	}
	#con_about_presented{
		svg{
			width: 30%;
			margin-right: 5%;
			vertical-align: top;
			min-width: 170px;
			height: auto;
		}
		p{
			// display: inline-block;
			vertical-align: top;
			width: 60%;
			font-family: $sans;
			line-height: 1.7rem;
			margin-top: 1rem;
			@include at-query($max,$inbetween) {
				margin: 0 auto;
				width: 90%;
				padding-top: 1.5rem;
				max-width: 350px;
			}
		}
	}
}



#con_registe{
	.con_container{
		background-color: $blue_green_dark;
		color: $white;
		font-family: $sans;
	}
	h2.con_section_titles{
		margin-bottom: 5rem;
		text-align: center;
	}
	p{
		text-align: center;
		a{
			color: inherit;
			font-weight: bolder;
		}
		margin-bottom: 5rem;
	}
	table{
		width: 100%;
		margin-bottom: 5rem;
	}
	tr{
		border-bottom: 1px solid $white;
	}
	th{
		padding-bottom: 2rem;
		padding-right: 1rem;
		&:last-child{
			padding-right: 0;
		}
		@include at-query($max,$inbetween) {
			font-size: 1.2rem;
		}
	}
	td{
		padding: 2rem 1rem 2rem 0;
		&:last-child{
			padding-right: 0;
		}
		input{
			border: none;
			padding: 0.5rem 0 0.5rem 2rem;
			color: $blue_dark;
			@include at-query($max,$inbetween) {
				width: 40px;
				padding-left: 10px;
			}
		}
		@include at-query($max,$inbetween) {
			font-size: 1.2rem;
		}
	}
	div#con_submit_container{
		text-align: center;
		input{
			font-family: $fortescue;
			background-color: inherit;
			font-size: inherit;
			font-weight: inherit;
			background-color: transparent;
			border: solid 1px $white;
			display: inline-block;
			margin: 0 auto;
			border-radius: 0;
		}
	}
}




#con_left,#con_right{
	display: inline-block;
	vertical-align: top;
}
#con_left{
	width: $width_left;
	color: $red;
	> div{
		display: none;
	}
	> div.active{
		display: block;
		@include animation('fade_in 0.5s');
	}
	h3{
		padding-top: 4rem;
		padding-bottom: 3rem;
		text-transform: uppercase;
		@include at-query($max,$inbetween) {
			padding-top: 0;
			text-align: center;
			padding-bottom: 1rem;
			text-transform: uppercase;
			margin-top: 1rem;
		}
	}
	h5{
		a{
			color: inherit;
			text-decoration: underline;
		}
		margin: 0.25rem 0;
		&:last-of-type{
			margin-bottom: 4rem;
			@include at-query($max,$inbetween) {
				margin-bottom: 2rem;
			}
		}
	}
	.con_left_exit_button{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		margin: 0;
		padding: 1rem;
		line-height: 1;
	}
	@include at-query($max,$inbetween) {
		width: 100%;
		text-align: center;
		padding-bottom: 3rem;
		margin-left: 0;
		.active{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
    		text-align: left;
			z-index: 2;
			> div{
		  		background: $white;
    			padding: 2rem;
    			position: relative;
    			margin: 0 auto;
    			max-width: 350px;
			}
			.con_left_exit_button{
				display: block;
			}
		}
	}
}
#con_right{
	width: $width_right;
    margin-left: $width_right_margin;

	p{
		margin-top: 1rem;
		line-height: 2rem;
		@include at-query($max,$inbetween) {
			line-height: 1.5rem
		}
	}
	.active p{
		text-decoration: underline;
		color: $red;
	}
	@include at-query($max,$inbetween) {
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
}




#con_speakers,#con_exhibitors,#con_agenda,#con_sponsors{
	h2.con_section_titles{
		text-decoration: underline;
	}

	button{
		background-color: transparent;
		border: none;
		width: 25%;
		display: inline-block;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		text-align: center;
	    margin: 0 2.5%;
	    padding: 0;
	    &.active img{
			box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
		}
	}
}

#con_speakers{
	background-color: $blue_dark;
	.con_container{
		background-color: $white;
		color: $black;
	}
	@include at-query($max,$inbetween) {
		#con_left .active > div{
			background-color: $red;
			color: $white;
		}
	}
}

#con_exhibitors{
	background-color: $yellow;
	.con_container{
		background-color: $white;
		color: $black;
	}
	#con_left{
		color: $red;
	}
	@include at-query($max,$inbetween) {
		#con_left .active > div{
			background-color: $red;
			color: $white;
		}
	}
}

#con_agenda{
	background-color: $white;
	.con_container{
		background-color: $blue_dark;
		color: $white;
	}
	#con_left{
		color: $white;
	}
	table{
		width: 100%;
		border-collapse: collapse;
		border-bottom: 1px solid $white;
	}
	td{
		border-top: 1px solid $white;
		padding: 1.5rem 0 1.5rem 3rem;
		cursor: pointer;

		h5{
			font-family: inherit;
			font-weight: inherit;
			text-transform: capitalize;
			font-size: inherit;
			margin: 0;
		}
		@include at-query($max,$inbetween) {
			padding: 1rem 0.2rem;
			font-size: 1.3rem;
			text-align: left;
			line-height: 1.2;
		}
	}
	tr.active{
		background-color: $red;
	}
	@include at-query($max,$inbetween) {
		#con_left .active > div{
			background-color: $red;
			color: $white;
		}
	}	
}

#con_sponsors{
	background-color: $rouge;
	.con_container{
		background-color: $white;
		color: $black;
	}
	#con_left > div{
		display: block;
	}
	
}

#con_announcements{
	background-color: $white;
	.con_container{
		background-color: $blue_dark;
		color: $white;
	}
}






