<ul id="load_this_data">{% for donor in page.directory.listings %}<li {% if donor.profile_image_url contains "buddy.png" or donor.profile_image_url contains "buddy1.png" %}class="give_random_image"{% endif %}>
	<img src="{{ donor.profile_image_url }}">
</li>{% endfor %}</ul>
{% comment %}

<div id="donnor_text">
	{{page.directory.content}}
</div>
{% endcomment %}

	{% if donor.profile_image_url contains "buddy.png" %}{% else %}{% endif %}
			<!-- width="48px" height="48px" -->

		{% comment %}
		<div class="network">
		<span>{{donor.published_name}}</span>
		
		<br>
			{% if donor.has_facebook_info? %}
				<a href="{{ donor.facebook_profile_url }}"><i class="icon-facebook-squared"></i></a>
			{% endif %}
			{% if donor.has_twitter_info? %}
				<a href="{{ donor.twitter_profile_url }}"><i class="icon-twitter-squared"></i></a>
			{% endif %}		
			</div>	
		{% endcomment %}