<ul>
{% for donor in page.directory.listings %}
	{% if donor.profile_image_url contains "buddy.png" %}
	{% else %}
	{% endif %}
	<li>
		<!-- width="48px" height="48px" -->
		<img src="{{ donor.profile_image_url }}" ><div class="network">
		<span>{{donor.published_name}}</span><br>
			{% if donor.has_facebook_info? %}
				<a href="{{ donor.facebook_profile_url }}"><i class="icon-facebook-squared"></i></a>
			{% endif %}
			{% if donor.has_twitter_info? %}
				<a href="{{ donor.twitter_profile_url }}"><i class="icon-twitter-squared"></i></a>
			{% endif %}		
			</div>	
	</li>
{% endfor %}
{{page.directory.next}}
</ul>