{% if page.slug == "index" %}
	<div id="index_page">
		<svg id="index_interactive_background"></svg>
		<h2 class="headline">{{ page.headline }}</h2>

		<div id="index_featured">
		{% for feature in page.features %}<a href="{{ feature.page.url }}">
			<img src="{{ feature.image_url }}" alt="{{ feature.headline }}">
			<h3>{{ feature.headline }}</h3>
		</a>{% endfor %}
		</div>

		<div id="index_content">
			{{page.basic.content}}
		</div>

		{% comment %}Reference _index_blog.html for editing this html{% endcomment %}

		<div id="index_instagram_feed">
		{% for descendants in page.descendants %}
			{% if descendants.slug == "instagram_upload" %}
				{{descendants.basic.content}}
			{% endif %}
		{% endfor %}
		</div>

	</div>
		<div id="index_blog">
			<h3>Here's what we've been up to:</h3>
			{% subpage "blog" with "index_blog" %}
		</div>
	<div id="signup-in-indexpage">
		<h2>Are you excited about the future New Harvest is building?<br/>Keep updated with our newsletter.</h2>
		{% form_for signup %}
			{% hidden_field_tag "page_id", page.id %} <div class="form-errors">{% error_messages_for signup %}</div>
			{% email_field "email", class:"text form-control",pattern:"email", placeholder:"Email", required: "required" %}	
			{% submit_tag ">", class:"submit-button" %}
		{% endform_for %}
	</div>
{% else %}
	{% comment %}{% include "breadcrumbs" %}{% endcomment %}
	<canvas id="node_top_visual" ></canvas>
	{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
	{% endif %}

	<div id="content">

		<div id="intro" class="intro">
			{% if page.basic.content != "" %}			
				<div class="text-content">
					{{ page.basic.content }}
				</div>
			{% endif %}

			{% if page.has_parent? %}
			<div class="portfolio-layout">
				{% for feature in page.features %}
					<div class="project">	
						<a href="{{ feature.url }}"><img src="{{ feature.image_url }}" alt="{{ feature.headline }}"></a>
						<div class="project-intro">
							<h1><a href="{{ feature.url }}">{{ feature.headline | split:"|" | first }}</a></h1>
							<h3><a href="{{ feature.url }}">{{ feature.headline | split:"|" | last}}</a></h3>
						</div>
					</div>
				{% endfor %}
			</div>
			{% else %}
			{% for descendants in page.descendants %}
				<div id="{{descendants.slug}}">
					<h2>{{descendants.name}}</h2>
					{{descendants.basic.content}}
					{% if descendants.slug == "people" %}
						<div id="donors_data">
							{% subpage "random_list_of_donors" with "donors_list" %}
						</div>
					{% endif %}
				</div>
			{% endfor %}	
			{% endif %}
		</div>

		{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div>
		{% endif %}

		{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
			{% tag "homepage" with "homepage_widget" %}
		{% endif %}


		{% if page.show_stream? %}
		{% include "page_stream" %}
		{% endif %}

	</div>
{% endif %}