<div id="event_page">
	<div id="event_header_section">
		<div id="event_header_image">
			<img src="http://data.new-harvest.org/new-harvest-logo-huge-background.png">
			<h1>New Harvest 2016:</h1>{% comment %}
				{{ page.name }}
			{% endcomment %}
			<h2>{{ page.headline }}</h2>
		</div>
		<div id="event_header_bottom">
			{{ page.event.content }}
		</div>
	</div>
</div>
</div>
<div class="yellow_middle">
	<div class="column content-pages-show-event-wide no_margin">

	{% if page.event.accept_rsvps? == false %}
		
	
	{% if page.event.is_maximum_capacity? %}
			<div class="modal_buy_ticket">
				<div>
					<div>Sorry, this event is sold out.</div>
				</div>
			</div>
	{% else %}

		{% form_for order %}

		<div class="modal_buy_ticket">
			<div class="form">
				<div>
					<button class="close">close</button>
					<p>
						<strong>Select the number of ticket(s)</strong>
					</p>
					<table>
						<tr>
							<th>Quantity</th>
							<th>Ticket Information</th>
							<th>Price</th>
							<th>Fee</th>
						</tr>
						{% for ticket_level in page.event.ticket_levels %}
							<tr>
								<td>
									<input id="event_ticket_level_{{ticket_level.id}}" type="number" min="0" placeholder="" value="1" name="event_ticket_level[{{ticket_level.id}}]">
								</td>
								<td>
									{{ ticket_level.description }}
								</td>	
								<td>
									{% comment %}{{ticket_level.amount}}{% endcomment %}
									
										
									{% if ticket_level.amount == "$50.00" %}
									$50
									{% else %}
									
									$250
									{% endif %}
									
								</td>
								<td>
									{% if ticket_level.amount == "$50.00" %}
										$0
									{% else %}
										$7.78	
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</table>
					<p>
						Are you a student or biohacker? <a href="mailto:isha@new-harvest.org">Contact</a> us for discounts.
					</p>
					<input value="Complete Registration" type="submit" name="commit" class="submit-button btn btn-primary">
					{% comment %}
						{% submit_tag "proceed to payment", class:"submit-button btn btn-primary" %}
					{% endcomment %}

				</div>
			</div>	
		</div>

		{% endform_for %}

	{% endif %}
	
	{% endif %}




	{% if page.event.is_rsvped? %}


			{% form_for event_rsvp %}
			

			<div class="modal_buy_ticket">
				<div class="form"><div>
					<p><strong>
					{% if page.event.current_rsvp.is_canceled? %}
						Your RSVP was canceled.
					{% else %}
						Thank you for rsvp'ing.  We'll see you there!
					{% endif %}
					</strong></p>

					{% if request.sorta_logged_in? and request.logged_in? == false %}
						If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
					{% endif %}

					{% if page.event.current_rsvp.is_canceled? %}
						<a href="{{ page.event.uncancel_rsvp_url }}">Oops, nevermind!  I really do want to come.</a>
					{% else %}
						{% if page.event.allow_guests? %}
							<div class="form-errors">{% error_messages_for event_rsvp %}</div>

							{% if page.event.allow_guests? and page.event.current_rsvp.is_canceled? == false %}
								<div class="form-group">
									<label for="event_rsvp_guests_count" class="padtop">Change the number of guests you're bringing</label>
									{% text_field "guests_count", class:"text form-control" %}
								</div>
							{% endif %}

							<label for="event_rsvp_is_canceled" class="checkbox padtop">
								<div class="form-group">
									{% check_box "is_canceled", class:"checkbox" %} Cancel, I'm not coming. 
								</div>
							</label>

							<div class="padtopmore">
								<div class="form-group">
									{% submit_tag "Update RSVP", class:"submit-button btn btn-primary" %}
									<div class="form-submit"></div>
								</div>
							</div>
						{% else %}
							<div class="padtop">
								{{ page.event.current_rsvp | delete_link message: "Cancel RSVP" class_name: "btn btn-danger" }}
							</div>
						{% endif %}
					{% endif %}
				</div></div>
			</div>
			{% endform_for %}



	{% elsif page.event.accept_rsvps?  %}

			{% if page.event.is_maximum_capacity? %}
				<div class="padbottom"><span class="warning">Sorry, this event is sold out.</span></div>
			{% else %}

				{% form_for event_rsvp %}
				<div class="modal_buy_ticket">
					<div class="form"><div>
						<p>
							<strong>
								Please RSVP to New Harvest 2016: Experience Cellular Agriculture
							</strong>
						</p>

						<div class="form-errors">{% error_messages_for event_rsvp %}</div>

						{% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
							<div class="form-group">
								<input class="text form-control user-success" id="event_rsvp_first_name" name="event_rsvp[first_name]" type="text" placeholder="First Name">
								<input class="text form-control user-success" id="event_rsvp_last_name" name="event_rsvp[last_name]" type="text" placeholder="Last Name">
							</div>
							{% comment %}
								<div class="form-group"><label for="event_rsvp_first_name">First Name</label>{% text_field "first_name", class:"text form-control" %}</div>
								<div class="form-group"><label for="event_rsvp_last_name">Last Name</label>{% text_field "last_name", class:"text form-control" %}</div>
							{% endcomment %}
						{% endif %}

						{% if request.sorta_logged_in? == false %}
							<div class="form-group">
								<input class="text form-control user-success" id="event_rsvp_email" name="event_rsvp[email]" type="email" placeholder="Email">
							</div>
							{% comment %}
								<div class="form-group"><label for="event_rsvp_email">Email</label>{% email_field "email", class:"text form-control" %}</div>
								{% if site.ask_for_mobiles? %}
									<div class="form-group"><label for="event_rsvp_mobile_number">Mobile phone (optional)</label>{% phone_field "mobile_number", class:"text form-control" %}</div>
								{% endif %}

								<div class="checkbox"><label for="event_rsvp_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</label></div>
								{% if site.ask_for_mobiles? %}
									<div class="checkbox"><label for="event_rsvp_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text messages</label></div>
								{% endif %}
							{% endcomment %}
						{% endif %}
						{% if page.event.is_phone? %}
							{% comment %}
								<div class="form-group"><label for="event_rsvp_phone_number">Phone</label>{% phone_field "phone_number", class:"text form-control" %}</div>
							{% endcomment %}
							<div class="form-group">
								<input class="text form-control" id="event_rsvp_phone_number" name="event_rsvp[phone_number]" type="tel" placeholder="Phone">
							</div>
						{% endif %}

						{% if page.event.is_address? %}
							{% comment %}
								<div class="form-group"><label for="event_rsvp_submitted_address">Address (Street, City, State, Postal code)</label>{% text_field "submitted_address", class:"text form-control" %}</div>
							{% endcomment %}
							<div class="form-group">
								<input class="text form-control user-success" id="event_rsvp_submitted_address" name="event_rsvp[submitted_address]" type="text" placeholder="Address (Street, City, State, Postal code)">
							</div>
						{% endif %}
					
						{% if page.event.allow_guests? %}
							<div class="form-group"><label for="event_rsvp_guests_count">How many other people are you bringing?</label>{% text_field "guests_count", class:"text form-control" %}</div>
						{% endif %}

						<br>
						{% submit_tag "Complete Registration", class:"submit-button btn btn-primary" %}
						<div class="form-submit"></div>
						{% comment %}
						<input value="Complete Registration" type="submit" name="commit" class="submit-button btn btn-primary">
						{% endcomment %}
					</div></div>
				</div>
				{% endform_for %}
			{% endif %}

	{% endif %}

	</div>
</div>










<div class="blue_background">
	<div class="column content-pages-show-event-wide no_margin">
		<button class="event_buy_now">Register</button>	
		<div class="half_width_large">
			July 13, San Francisco
		</div>
		
			<p id="white_address_text">
				<a target="_blank" href="https://www.google.ca/maps/place/135+Fisher+Loop,+San+Francisco,+CA+94129,+USA/@37.8003066,-122.4617901,19z/">
					The Golden Gate Club at the Presidio <br>
					135 Fisher Loop, San Francisco, CA 94129
				</a>
			</p>
		{% if page.slug == "nh2016_dev" %}			
		{% endif %}
		<p id="yellow_nonprofit_text">
			Presented by New Harvest, the premier non-profit building the emerging post-animal bioeconomy.
		</p>
	</div>
</div>

	<div id="event_speakers">
		<h2>Speakers</h2>
		<div>
			<div class="speaker red" id="mark-post">
				<img src="http://data.new-harvest.org/speakers/mark-post.jpg">
				<h3>Mark Post</h3>
				<h4><a target="_blank" href="http://culturedbeef.net/mark-post/">University of Maastricht</a></h4>
				<h4><a target="_blank" href="http://www.new-harvest.org/mark_post_cultured_beef">The new hamburger</a></h4>
				<a href="#mark-post"><span class="fullbio_open">hide</span><span class="fullbio_close">read more</span></a>
				<div class="fullbio">
					<p>
						Professor Mark Post is the chair of the Physiology Department at Maastricht University, as well as a co-founder of Mosa Meats. Dr. Post works on tissue-engineered blood vessels for medical  applications, as well as tissue engineered muscle tissue for food. His work on food let to the  world’s first cultured beef hamburger, which was tasted in August of 2013.
					</p>
				</div>
			</div><div class="speaker gold" id="perumal-gandhi">
				<img src="http://data.new-harvest.org/speakers/perumal-gandhi.jpg">
				<h3>Perumal Gandhi</h3>
				<h4><a target="_blank" href="http://muufri.com/">Muufri</a></h4>
				<h4><a target="_blank" href="http://www.new-harvest.org/muufri_milk">The new milk</a></h4>
				<a href="#perumal-gandhi"><span class="fullbio_open">hide</span><span class="fullbio_close">read more</span></a>
				<div class="fullbio">
					<p>
						Perumal is a 24-year-old scientist and entrepreneur from India. He has a BSc. In Biotechnology & a Masters in Biomedical Engineering from State University of New York, Stonybrook. After graduation he co-founded Muufri: a food technology company based out of San Francisco, CA that is creating a future where milk comes from breweries instead of dairy farms; It’s a cleaner, healthier, and more sustainable future, without any compromises.
					</p>
				</div>
			</div><div class="speaker blue" id="arturo-elizondo">
				<img src="http://data.new-harvest.org/speakers/arturo-elizondo.jpg">
				<h3>Arturo Elizondo</h3>
				<h4><a target="_blank" href="http://clarafoods.com/">Clara Foods</a></h4>
				<h4><a target="_blank" href="http://www.new-harvest.org/clara_foods">The new egg</a></h4>
				<a href="#arturo-elizondo"><span class="fullbio_open">hide</span><span class="fullbio_close">read more</span></a>
				<div class="fullbio">
					<p>
						Arturo Elizondo is CEO of Clara Foods, a sustainable ingredients company making the world's  first animal-free egg white and other performance egg replacers. Prior to joining Clara Foods, Arturo served under Supreme Court Justice Sonia Sotomayor, the U.S. Department of Agriculture, and the investment bank Credit Suisse. Arturo holds a degree in Government and Comparative Politics from Harvard University.
					</p>
				</div>
			</div><div class="speaker blue_light" id="alex-lorestani">
				<img src="http://data.new-harvest.org/speakers/alex-lorestani.jpg">
				<h3>Alexander Lorestani</h3>
				<h4><a target="_blank" href="http://www.gelzen.com/">Gelzen</a></h4>
				<h4><a target="_blank" href=""></a>The new gelatin</h4>
				<a href="#alex-lorestani"><span class="fullbio_open">hide</span><span class="fullbio_close">read more</span></a>
				<div class="fullbio">
					<p>
						Alexander Lorestani is the co-founder and CEO of Gelzen, Inc. Prior to his work at Gelzen,Alexander was an MD/PhD candidate at the Rutgers University-Princeton University Physician-Scientist Training Program, with the PhD in microbiology focused on antibiotic-resistant bacteria. Alex has a passion for translating discoveries forged through high-quality basic research into tools that can be used to improve lives.
					</p>
				</div>
			</div>


		{% if page.slug == "nh2016_dev" %}


		<div class="speaker blue" id="matthew-markus">
			<img src="http://data.new-harvest.org/speakers/matthew-markus.jpg">
			<h3>Matthew Markus</h3>
			<h4><a target="_blank" href="http://signup.pembient.com/">Pembient</a></h4>
			<h4><a target="_blank" href="http://www.new-harvest.org/pembient_rhino_horns">The new wildlife trade</a></h4>
			<a href="#matthew-markus"><span class="fullbio_open">hide</span><span class="fullbio_close">read more</span></a>
			<div class="fullbio bottom_out_3">
				<p>
					Matthew is Co-founder and CEO of Pembient, a company biofabricating wildlife products in order to stop the poaching of, and prevent the farming of, iconic species such as the rhinoceros. A serial entrepreneur, Matthew's past ventures include PrivacyBank.com, an internet company that was acquired by InfoSpace (now NASDAQ: BCOR). Matthew holds a Masters of Engineering Management, as well as a M.S. in Genetic Epidemiology, from the University of Washington in St. Louis.
				</p>
			</div>
		</div><div class="speaker red" id="josh-tetrick">
			<img src="http://data.new-harvest.org/speakers/josh-tetrick.jpg">
			<h3>Josh Tetrick</h3>
			<h4><a target="_blank" href="https://www.hamptoncreek.com/">Hampton Creek</a></h4>
			<h4><a target="_blank" href="">The new food movement</a></h4>
			<a href="#josh-tetrick"><span class="fullbio_open">hide</span><span class="fullbio_close">read more</span></a>
			<div class="fullbio bottom_out_3">
				<p>
					Josh Tetrick is the CEO/Founder of Hampton Creek, a company dedicated to making it easier for everyone to eat better. Founded in 2011, Hampton Creek was named Fast Company’s 2nd most innovative company in food, earned a spot on CNBC’s top 50 disrupter list and called the fastest growing food company on earth by Inc. magazine. Previously, Josh led a UN business initiative in Kenya, worked for both former President Clinton and the President of Liberia, and taught street children as a Fulbright Scholar in Africa.
				</p>
			</div>
		</div><div class="speaker blue_light" id="camille-delebecque">
			<img src="http://data.new-harvest.org/speakers/camille-delebecque.jpg">
			<h3>Camille Delebecque</h3>
			<h4><a target="_blank" href="http://www.afineur.com/">Afineur</a></h4>
			<h4><a target="_blank" href="">The new food processing</a></h4>
			<a href="#camille-delebecque"><span class="fullbio_open">hide</span><span class="fullbio_close">read more</span></a>
			<div class="fullbio bottom_out_2">
				<p>
					Camille is the co-founder and CEO of Afineur, a Brooklyn based biotechnology company using controlled fermentations to enhance plant-based foods. Afineur is a pioneer in consumer biotechnology, raising awareness about the potential of cultured products notably through a successful Kickstarter campaign. Previously, Camille founded Synbio Consulting to foster biotechnological innovation. Camille holds a PhD in Synthetic Biology he completed between Harvard and Paris Universities. He has been recognized an emerging leader shaping the future of biotechnology and food by LEAP and Grist. 
				</p>
			</div>
		</div><div class="speaker gold" id="nicki-briggs">
			<img src="http://data.new-harvest.org/speakers/nicki-briggs.jpg">
			<h3>Nicki Briggs</h3>
			<h4><a target="_blank" href="http://www.nearboil.com/">Near Boil</a></h4>
			<h4><a href="">The new food conversation</a></h4>
			<a href="#nicki-briggs"><span class="fullbio_open">hide</span><span class="fullbio_close">read more</span></a>
			<div class="fullbio bottom_out_1">
				<p>
					Recognized as one of PRWeek's 40 Under 40 ‘Trailblazers to Watch,’ Nicki Briggs is a brand marketing and communications leader, passionate food and nutrition expert, and contributing writer and media spokesperson. Prior to starting her own practice, Nicki led global communications for Chobani. She built the brand's voice and played a pivotal role in transforming a regional yogurt company into a billion dollar brand in under five years, making Chobani one of the fastest-growing startups ever. Nicki's work was featured in the Harvard Business School case study, “Growing a Live and Active Culture.”
				</p>
			</div>
		</div>

		{% endif %}
			<h3>More to come</h3>
			<br>
			<p>
				Many thanks to the sponsors and volunteers that are bringing this conference to life.  <br>To become a sponsor or volunteer please email: <a href="mailto:hello@new-harvest.org">hello@new-harvest.org </a>
			</p>
		</div>
	</div>
