<div class="header_area">
	{% comment %}<div class="border"><canvas id="node_top_visual" ></canvas></div>{% endcomment %}
	<h1 class="headline"><span>{{ page.headline }}</span></h1>


	<div class="text-content">
		{% for descendants in page.descendants %}
			{{descendants.basic.content}}
		{% endfor %}
	</div>

</div>


<div class="padcontainer">
	<div class="content-container">
		<div id="content">

			<div id="projects">
				<h2 class="headline_inline">Future Events</h2>
			</div>
			{% for event in page.calendar.events_upcoming %}
				{% include "event" %}
			{% endfor %}
			<hr>
			<div id="projects">
				<h2 class="headline_inline">Past Events</h2>
			</div>
			{% for event in page.calendar.events_past %}
				{% include "event" %}
			{% endfor %}
		</div>
	</div>
</div>


