{% case page.slug %}
{% when "index" %}
	<div id="index_page">
		{% comment %}<svg id="index_interactive_background"></svg>{% endcomment %}
		<h1 class="headline">{{ page.headline }}</h1>

		<div id="index_featured">
		{% for feature in page.features %}<a href="{{ feature.page.url }}">
			<img src="{{ feature.image_url }}" alt="{{ feature.headline }}">
			<h2>{{ feature.headline }}</h2>
		</a>{% endfor %}
		</div>

		<div id="index_content">
			{{page.basic.content}}
		</div>

		{% comment %}Reference _index_blog.html for editing this html{% endcomment %}

		<div id="index_instagram_feed">
		{% for descendants in page.descendants %}
			{% if descendants.slug == "instagram_upload" %}
				{{descendants.basic.content}}
			{% endif %}
		{% endfor %}
		</div>

	</div>
		<div id="index_blog">
			<h2>Here's what we've been up to</h2>
			{% subpage "blog" with "index_blog" %}
		</div>
	<div id="signup-in-indexpage">
		<h2>Are you excited about the future New Harvest is building?<br/>Keep updated with our newsletter.</h2>
		{% form_for signup %}
			{% hidden_field_tag "page_id", page.id %}

			<div style="display: none">
				{% text_field "tags", value:"email_signup" %}
				<select id="signup_optional_tag" name="signup[optional_tag]">
					<option value="email_signup,index_signup">email signup</option>
				</select>
			</div>
			
			<div class="form-errors">{% error_messages_for signup %}</div>
			{% email_field "email", class:"text form-control",pattern:"email", placeholder:"Email", required: "required" %}	

			{% submit_tag ">", class:"submit-button" %}
		{% endform_for %}
	</div>
{% when "portfolio" %}

	<!--<div class="header_area">
		<div class="border"><canvas id="node_top_visual" ></canvas></div>
		<h1 class="headline"><span>{{ page.headline }}</span></h1>
		{% if page.basic.content != "" %}			
			<div class="text-content">
				{{ page.basic.content }}
			</div>
		{% endif %}
	</div>-->

	<div class="header_area">
		<h1 class="headline"><span>{{ page.headline }}</span></h1>
		{% if page.basic.content != "" %}			
			<div class="text-content">
				{{ page.basic.content }}
			</div>
		{% endif %}
	</div>

	<div id="content">
		<div id="intro" class="intro">
		{% for descendants in page.descendants %}
			{% if descendants.parent.title == page.title %}
				<div id="{{descendants.slug}}">
					<h2>{{descendants.name}}</h2>
					<div class="portfolio-layout">
						{% for feature in descendants.features %}
							<div class="project">	
								<a href="{{ feature.page.url }}"><img src="{{ feature.image_url }}" alt="{{ feature.headline }}"></a>
								<div class="project-intro">
									{% assign features_content = feature.headline | split:"|" %}
										<h3><a href="{{ feature.page.url }}">{{ features_content | first }}</a></h3>
									{% if features_content | last %}
										<p><a href="{{ feature.page.url }}">{{ features_content | last }}</a></p>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>

{% else %}
	{% comment %}{% include "breadcrumbs" %}{% endcomment %}
	{% comment %}<canvas id="node_top_visual" ></canvas>{% endcomment %}

	<!--<div class="header_area">
		<div class="border"><canvas id="node_top_visual" ></canvas></div>
		<h1 class="headline"><span>{{ page.headline }}</span></h1>
		{% if page.basic.content != "" %}			
			<div class="text-content">
				{{ page.basic.content }}
			</div>
		{% endif %}
	</div>-->

	<div class="header_area">
		<h1 class="headline"><span>{{ page.headline }}</span></h1>


		{% case page.slug %}
			{% when "grants" %}
				<div class="text-content">
					{{ page.basic.content }}
				</div>
			{% when "contact" %}
			{% when "about" %}
				<div class="text-content">
					{{ page.basic.content }}
				</div>
			{% when "curated_media" %}
				{% assign topcontent = page.basic.content|split: '<h4'|first %}
				<div class="text-content">
					{{topcontent}}
				</div>
			{%else%}
		{% endcase %}

	</div>

	<div id="content">
		<div id="intro" class="intro">
			
			{% case page.slug %}
				{% when "grants" %}
				{% when "contact" %}
					{{ page.basic.content }}
				{% when "about" %}
				{% when "curated_media" %}
					
					{{ page.basic.content|split: topcontent| last}}
						
					
				{%else%}
					{% if  page.basic.content | size | int < 8000 %}
						{{ page.basic.content }}
					{% endif %} 
			{% endcase %}
			

			{% if page.has_parent? %}
			<div class="portfolio-layout">
				{% for feature in page.features %}
					<div class="project">	
						<a href="{{ feature.page.url }}"><img src="{{ feature.image_url }}" alt="{{ feature.headline }}"></a>
						<div class="project-intro">
							{% assign features_content = feature.headline | split:"|" %}
								<h3><a href="{{ feature.page.url }}">{{ features_content | first }}</a></h3>
							{% if features_content | last %}
								<p><a href="{{ feature.page.url }}">{{ features_content | last }}</a></p>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>

			
			{% else %}
				{% comment %}
					we are using the nav for getting the elements
						we don't get to choose the order other wise...
						nationbuilder... -_-
				{% endcomment %}
				{% for find_el in site.root_nav_pages %}{% if find_el.slug == page.slug %}
					
					{% for descendants in find_el.nav_children %}
						<div id="{{descendants.slug}}">

						<h2>{{descendants.name}}</h2>
						{{descendants.basic.content}}

						{% if descendants.slug == "people" %}
							<div id="donors_data">
								{% subpage "donors" with "donors_list" %}
							</div>
						{% endif %}
					</div>
					{% endfor %}
				{% endif %}{% endfor %}

			{% endif %}
		</div>

		{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div>
		{% endif %}

		{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
			{% tag "homepage" with "homepage_widget" %}
		{% endif %}


		{% if page.show_stream? %}
		{% include "page_stream" %}
		{% endif %}
	</div>
{% endcase %}