{% case page.slug %}
{% when "index" %}
	{% comment %}

<div style="background-color: #5376ba;padding-top: 1px;padding-bottom: 2em;"><div style="
    max-width: 90%;
    margin: 0 auto;
"><h2 style="
    text-transform: uppercase;
    font-family: &quot;din-condensed-web&quot;,&quot;DIN 1451 Engschrift Standard&quot;,Calibri,Helvetica,Arial,sans-serif;
    color: #fff;
    text-align: center;
    font-size: 3em;
    max-width: 600px;
    margin: 1em auto;
">2016 cellular agriculture conference was a huge success</h2>
<iframe width="853" height="480" style="margin: 0px auto;display:block;width: 719px;max-width: 100%;max-height: 404.438px;margin-top: 2em;" src="https://www.youtube.com/embed/1b8z7pxdq48?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe><p style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 16px;margin-top:2em;max-width: 719px;margin: 2em auto;color: #fff;font-family: fortescue-regular,&quot;Fortescue Regular&quot;,&quot;Times New Roman&quot;,Times,serif;">New Harvest's first cellular agriculture conference in 2016 was a huge success! It was a sold out event with over 309 attendees, speakers, and exhibitors from all over the world. Check out some of the feedback from people who came out to NH2016 <a href="http://medium.com/@NewHarvestOrg/feedback-from-newharvest2016-8821e79199ee#.yg4afsqwd" style="
    color: #fff;
">here.</a></p>
</div></div>
		
	{% endcomment %}
	<div id="index_page">
		
		{% comment %}<svg id="index_interactive_background"></svg>{% endcomment %}
		<h1 class="headline">{{ page.headline }}</h1>

		<div id="index_featured">
		{% for feature in page.features %}<a href="{{ feature.page.url }}">
			<img src="{{ feature.image_url }}" alt="{{ feature.headline }}">
			<h2>{{ feature.headline }}</h2>
		</a>{% endfor %}
		</div>

		<div id="index_content">
			{{page.basic.content}}
		</div>

		{% comment %}Reference _index_blog.html for editing this html{% endcomment %}

		<div id="index_instagram_feed">
		{% for descendants in page.descendants %}
			{% if descendants.slug == "instagram_upload" %}
				{{descendants.basic.content}}
			{% endif %}
		{% endfor %}
		</div>

	</div>
	<div id="index_blog">
		{% subpage "in_the_media" with "pages_blog_logos" %}
		<h2>Here's what we've been up to</h2>
		{% subpage "blog" with "index_blog" %}
	</div>
	<div id="signup-in-indexpage">
		<h2>Are you excited about the future New Harvest is building?<br/>Keep updated with our newsletter.</h2>
		{% form_for signup %}
			{% hidden_field_tag "page_id", page.id %}

			<div style="display: none">
				{% text_field "tags", value:"email_signup" %}
				<select id="signup_optional_tag" name="signup[optional_tag]">
					<option value="email_signup,index_signup">email signup</option>
				</select>
			</div>
			
			<div class="form-errors">{% error_messages_for signup %}</div>
			{% email_field "email", class:"text form-control",pattern:"email", placeholder:"Email", required: "required" %}	

			{% submit_tag ">", class:"submit-button" %}
		{% endform_for %}
	</div>



{% when "portfolio" %}

	<!--<div class="header_area">
		<div class="border"><canvas id="node_top_visual" ></canvas></div>
		<h1 class="headline"><span>{{ page.headline }}</span></h1>
		{% if page.basic.content != "" %}			
			<div class="text-content">
				{{ page.basic.content }}
			</div>
		{% endif %}
	</div>-->

	<div class="header_area">
		<h1 class="headline"><span>{{ page.headline }}</span></h1>
		{% if page.basic.content != "" %}			
			<div class="text-content">
				{{ page.basic.content }}
			</div>
		{% endif %}
	</div>

	<div id="content">
		<div id="intro" class="intro">
		{% for descendants in page.descendants %}
			{% if descendants.parent.title == page.title %}
				<div id="{{descendants.slug}}">
					<h2>{{descendants.name}}</h2>
					<div class="portfolio-layout">
						{% for feature in descendants.features %}
							<div class="project">	
								<a href="{{ feature.page.url }}"><img src="{{ feature.image_url }}" alt="{{ feature.headline }}"></a>
								<div class="project-intro">
									{% assign features_content = feature.headline | split:"|" %}
										<h3><a href="{{ feature.page.url }}">{{ features_content | first }}</a></h3>
									{% if features_content | last %}
										<p><a href="{{ feature.page.url }}">{{ features_content | last }}</a></p>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>

{% else %}
	{% comment %}{% include "breadcrumbs" %}{% endcomment %}
	{% comment %}<canvas id="node_top_visual" ></canvas>{% endcomment %}

	<!--<div class="header_area">
		<div class="border"><canvas id="node_top_visual" ></canvas></div>
		<h1 class="headline"><span>{{ page.headline }}</span></h1>
		{% if page.basic.content != "" %}			
			<div class="text-content">
				{{ page.basic.content }}
			</div>
		{% endif %}
	</div>-->

	<div class="header_area">
		<h1 class="headline"><span>{{ page.headline }}</span></h1>


		{% case page.slug %}
			{% when "grants" %}
				<div class="text-content">
					{{ page.basic.content }}
				</div>
			{% when "contact" %}
			{% when "about" %}
				<div class="text-content">
					{{ page.basic.content }}
				</div>
			{% when "curated_media" %}
				{% assign topcontent = page.basic.content|split: '<h4'|first %}
				<div class="text-content">
					{{topcontent}}
				</div>
			{%else%}
		{% endcase %}

	</div>

	<div id="content">
		<div id="intro" class="intro">
			
			{% case page.slug %}
				{% when "grants" %}
				{% when "contact" %}
					{{ page.basic.content }}
				{% when "about" %}
				{% when "curated_media" %}
					
					{{ page.basic.content|split: topcontent| last}}
						
					
				{%else%}
					{% if  page.basic.content | size | int < 8000 %}
						{{ page.basic.content }}
					{% endif %} 
			{% endcase %}
			

			{% if page.has_parent? %}
			<div class="portfolio-layout">
				{% for feature in page.features %}
					<div class="project">	
						<a href="{{ feature.page.url }}"><img src="{{ feature.image_url }}" alt="{{ feature.headline }}"></a>
						<div class="project-intro">
							{% assign features_content = feature.headline | split:"|" %}
								<h3><a href="{{ feature.page.url }}">{{ features_content | first }}</a></h3>
							{% if features_content | last %}
								<p><a href="{{ feature.page.url }}">{{ features_content | last }}</a></p>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>

			
			{% else %}
				{% comment %}
					we are using the nav for getting the elements
						we don't get to choose the order other wise...
						nationbuilder... -_-
				{% endcomment %}
				{% for find_el in site.root_nav_pages %}{% if find_el.slug == page.slug %}
					
					{% for descendants in find_el.nav_children %}
						<div id="{{descendants.slug}}">

						<h2>{{descendants.name}}</h2>
						{{descendants.basic.content}}

						{% if descendants.slug == "people" %}
							
							<div id="donors_data">
								{% subpage "donors" with "donors_list" %}
							</div>

						{% endif %}
					</div>
					{% endfor %}
				{% endif %}{% endfor %}

			{% endif %}

			{% if page.slug == "people" %}
				<div id="people">
					<div id="donors_data">
						{% subpage "donors" with "donors_list" %}
					</div>
				</div>
			{% endif %}
		</div>

		{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div>
		{% endif %}

		{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
			{% tag "homepage" with "homepage_widget" %}
		{% endif %}


		{% if page.show_stream? %}
		{% include "page_stream" %}
		{% endif %}
	</div>
{% endcase %}